# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/

# Virtual Environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Большие датасеты
vidal_dataset_*.json
cleaned_*.json
finetune_dataset.jsonl

# Модели
*.pth
*.bin
*.safetensors
models/

# База данных
*.sql
*.db

# Логи
*.log